.ProjectDetails {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.ProjectDetails .projectContainer {
  margin: 0px 16px;
  max-width: 500px;
}

.ProjectDetails .projectContainer img {
  width: 100%;
}

.ProjectDetails .projectContainer h1 {
  margin-bottom: 18px;
}

.ProjectDetails .projectContainer p {
  margin: 20px 0;
  text-align: justify;
  font-weight: 300;
  color: black;
}

.ProjectDetails .projectContainer a {
  color: black;
}

.ProjectDetails .projectContainer h3 {
  margin: 10px 0px;
}

.ProjectDetails .projectContainer article {
  margin: 20px 0 30px;
}

@media (min-width: 440px) {
  .ProjectDetails .projectContainer {
    margin: 0 32px;
  }
}

@media (min-width: 600px) {
  .ProjectDetails .projectContainer {
    margin: 0 42px;
  }
}

@media (min-width: 780px) {
  .ProjectDetails .projectContainer .projectSection {
    display: flex;
    justify-content: space-between;
  }

  .ProjectDetails .projectContainer .projectSection section {
    flex: 1;
  }

  .ProjectDetails .projectContainer .projectSection section:first-of-type {
    margin-right: 40px;
  }

  .ProjectDetails .projectContainer {
    max-width: 1040px;
  }
}

@media (min-width: 990px) {
  .ProjectDetails .projectContainer {
    margin: 60px 112px 0;
    max-width: 1040px;
  }

  .ProjectDetails .projectContainer .projectSection section:first-of-type {
    margin-right: 80px;
  }

  .ProjectDetails .projectContainer .titleFour {
    font-size: 1.2rem;
  }

  .ProjectDetails .projectContainer .titleThree {
    font-size: 1.5rem;
  }
}
