.Projects {
  display: flex;
  justify-content: center;
}

.Projects .cardsContainer {
  margin: 60px 16px 0;
  max-width: 500px;
}

.Projects .cardsContainer h1 {
  font-size: 2.1rem;
  font-weight: 800;
  margin-bottom: 40px;
}

.Projects .cardsContainer .cardItem {
  margin: 0 0 100px;
}

.Projects .cardsContainer .cardItem a {
  color: var(--dark-800);
}

.Projects .cardsContainer .cardItem img {
  width: 100%;
}

.Projects .cardItem article {
  margin: 20px 0px 0;
}

.Projects .cardItem .SecondaryButton button {
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 440px) {
  .Projects .cardsContainer {
    margin: 60px 32px 0;
  }
}

@media (min-width: 600px) {
  .Projects .cardsContainer {
    margin: 60px 42px 0;
  }
}

@media (min-width: 780px) {
  .Projects .cardsContainer .cardItem {
    display: flex;
    justify-content: space-between;
  }

  .Projects .cardsContainer .cardItem section {
    flex: 1;
  }

  .Projects .cardsContainer .cardItem section:first-of-type {
    margin-right: 40px;
  }

  .Projects .cardsContainer {
    max-width: 1040px;
  }
}

@media (min-width: 990px) {
  .Projects .cardsContainer {
    margin: 60px 112px 0;
  }

  .Projects .cardsContainer .cardItem section:first-of-type {
    margin-right: 80px;
  }

  .Projects .cardsContainer .titleFour {
    font-size: 1.2rem;
  }

  .Projects .cardsContainer .titleThree {
    font-size: 1.5rem;
  }
}
