#IntroSection {
  min-width: 300px;
  max-width: 700px;
  margin: 60px auto 0;
}

#IntroSection p {
  margin: 30px 0px;
  text-align: justify;
}

#IntroSection a {
  text-decoration: none;
  color: var(--dark-900);
  width: fit-content;
}

#IntroSection .buttonSection {
  display: flex;
  flex-direction: column;
}

@media (min-width: 440px) {
  #IntroSection .buttonSection {
    flex-direction: row;
    justify-content: space-between;
    max-width: 440px;
  }
}

@media (min-width: 600px) {
  #IntroSection p {
    font-size: 1.1rem;
    margin-bottom: 36px;
  }
}

@media (min-width: 990px) {
  #IntroSection {
    flex: 1;
  }
}
